---
layout: layout
title: "The Blog"
permalink: /blog/
---
<h1>Latest Posts</h1>
{% for post in site.posts limit: 5 %}{% if post.wideimg %}
<article
	style="
			background-image: url({% if post.wideimg %} '/media/{{post.wideimg}}.jpg' {% else %} '//placehold.it/1920x450' {% endif %});
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			display: block;
			width: 100%;
			height: 100%;">
	<div class="article-card">
		<header class="row">
			<a
				class="col-md-8 col-sm-12"
				href="{{ post.url }}">
				{{ post.title }}
			</a>
			<div class="col-md-4 text-right-md">
				<span class="glyphicon glyphicon-calendar"></span>
				<!-- Whitespace added for readability -->
				{% assign d = post.date | date: "%-d"  %}
				{% case d %}
					{% when '1' or '21' or '31' %}{{ d }}st
					{% when '2' or '22' %}{{ d }}nd
					{% when '3' or '23' %}{{ d }}rd
					{% else %}{{ d }}th
				{% endcase %}
				{{ post.date | date: "%B" }}
				{{ post.date | date: "%Y" }}
				|
				<span class="glyphicon glyphicon-comment"></span>
				<a href="{{site.url}}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
			</div>
			<div class="col-md-12">
				<span class="glyphicon glyphicon-tags"></span>
				{% for tag in post.tags %}
					<a class="btn label label-info" href="{{ site.url }}/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
				{% endfor %}
			</div>
		</header>
		<p>
			{{ post.excerpt }}
		</p>
		<p class="text-right">
			<a href="{{ post.url }}">Read more&hellip;</a>
		</p>
	</div>
</article>
{% endif %}
{% endfor %}