---
layout: layout
title: "Robin James Kerrison"
includes:
- carousel
sidebar: false
---
<div class="row text-center">
	<div class="col-md-4">
		{% include image.html local="chess.jpg"	title="It's hard to tell from this picture, but I think Xavier has moved once and captured a pawn. Guy's a pro."	lightbox="Index" %}
		<h2>Who's this Robin guy?</h2>
		<p>I'm a dude. I live in London and I like mashed potato.
		There's an <a href="{{site.url}}/about">about page</a> if you're into that sort of thing.</p>
		<p><small>If you're not into that sort of thing, it still exists and there's not a lot you can do about it.</small></p>
	</div>
	<div class="col-md-4">
		{% include image.html local="bakerstreetwide.jpg"	title="It's hard to tell from this picture, but I think Xavier has moved once and captured a pawn. Guy's a pro."	lightbox="Index" %}
		<h2>Programming</h2>
		It's what I do for a career and sometimes for fun.
	</div>
	<div class="col-md-4">
		{% include image.html local="liz-tower-go.jpg"	title="It's hard to tell from this picture, but I think Xavier has moved once and captured a pawn. Guy's a pro."	lightbox="Index" %}
		<h2>Photography</h2>
		I do a lot of photography.
		To ask me about it, contact me via <a href="//twitter.com/rjkerrison">Twitter</a>.
	</div>
</div>