---
---
html {
	overflow-y: scroll;
}
body {
	font-family: "Myriad Pro", "Segoe UI";
}
footer {
	margin: 10px 0;
}
.visible-md.navbar, .visible-lg.navbar {
	margin: 10px 0;
}
h2 {
	font-size: 1.4em;
}
h3 {
	color: rgba(50,34,34,1);
}
.faded {
	opacity: 0.4;
}
.faded:hover {
	opacity: 0.6;
}
.tag-toggle {
	display: inline-block;
}
.visible-sm.navbar, .visible-xs.navbar {
	margin: 0px;
}
a:hover {
	text-decoration: none;
}
.clear-quarter {
	margin-top: 0.25em;
}
.clearright {
	margin-right: 0.5em;
}
article {
	position:relative;
	color: white;
	padding: 10px;
	margin: 10px;
}
.overlay {
	position: absolute;
	background-color: rgba(255,255,255,0.1);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.overlay:hover {
	background-color: transparent;
}
.btn {
	z-index: 1; #Has to be above the overlay.
}
.grow {
	display: block;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	outline: 1px solid transparent;
}
.grow:hover, .grow:focus, .grow:active {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.lift {
	-moz-box-shadow:4px 4px 8px rgba(50,34,34,0.2);
	-webkit-box-shadow:4px 4px 8px rgba(50,34,34,0.2);
	box-shadow:4px 4px 8px rgba(50,34,34,0.2);
}
/*.lift:hover {
	-moz-box-shadow:4px 4px 8px rgba(50,34,34,0.4);
	-webkit-box-shadow:4px 4px 8px rgba(50,34,34,0.4);
	box-shadow:4px 4px 8px rgba(50,34,34,0.4);
}*/
.article-link:hover {
	background-color: rgba(255,255,255,0.4);
}
.article-card a {
	color: white;
}
.article-card > header {
	height: 100%;
	width: 100%;
}
.article-card {
	color: white;
	margin: 10px;
	padding: 10px;
}
.carousel {
	height: 300px;
	margin-bottom: 60px;
	background-color: rgba(50,34,34,0.3);
	z-index: 11;
}
.carousel-caption {
	background-color: rgba(50,34,34,0.6);
	margin: 5px;
	z-index: 9;
}
.article-card {
	background-color: rgba(50,34,34,0.8);
	margin: 5px;
	z-index: 12;
}
.article-card:hover {
	background-color: rgba(50,34,34,0.3);
}
.carousel .item {
	height: 300px;
	background-color: #777;
}
.carousel-control {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.carousel,
.carousel .item,
.carousel-inner,
.carousel-caption,
article, .article-card,
.overlay {
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
	/* For IE 8*/
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
	-moz-box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	-webkit-box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.tag-toggle {
	border-radius: 0!important;
	margin-top: -1px;
}
.round-top-left {
	border-top-left-radius: 3px!important;
}
.round-bottom-left {
	border-bottom-left-radius: 3px!important;
}
.round-top-right {
	border-top-right-radius: 3px!important;
}
.round-bottom-right {
	border-bottom-right-radius: 3px!important;
}
.force-no-margin-left {
	margin-left: 0!important;
}