---
---
body {
	font-family: "Myriad Pro", "Segoe UI";
}
footer {
	margin: 10px 0;
}
.visible-md.navbar, .visible-lg.navbar {
	margin: 10px 0;
}
.visible-sm.navbar, .visible-xs.navbar {
	margin: 0px;
}
a:hover {
	text-decoration: none;
}
article {
	color: white;
	padding: 10px;
	margin: 10px;
}
.article-card a {
	color: white;
}
.article-card {
	color: white;
	margin: 10px;
	padding: 10px;
}
/* Carousel base class */
.carousel {
	height: 300px;
	margin-bottom: 60px;
	background-color: rgba(50,34,34,0.3);
	z-index: 11;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption, .article-card {
	background-color: rgba(50,34,34,0.6);
	margin: 5px;
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	background-color: #777;
}
.carousel-control {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.carousel,
.carousel .item,
.carousel-inner,
.carousel-caption,
article, .article-card {
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
	/* For IE 8*/
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
	-moz-box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	-webkit-box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	box-shadow:0px 0px 7px rgba(50,34,34,0.2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}