<article
	data-blogtag="{% for tag in post.tags %}{{ tag }} {% endfor %}" 
	style="
		background-image: url({% if post.wideimg %} '/media/{{ post.wideimg }}.jpg' {% else %} '//placehold.it/1920x450' {% endif %});
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		{% if tags_selected_by_javascript %}display: none;
		{% endif %}width: 100%;
		height: 100%;"
	class="container lift">
	<div class="article-card">
		
		<header>
			<div class="row">
				<h2 class="col-md-12 clear-quarter text-left">
					<a href="{{ post.url }}" title="{{ post.readmore }}">
						{{ post.title }}
					</a>
					<span class="hidden-sm hidden-xs small">
						<span class="glyphicon glyphicon-calendar"></span>
						<a href="{{ post.url }}" title="{{ post.readmore }}">
							{% assign d = post.date | date: "%-d"  %}
							{% case d %}
								{% when '1' or '21' or '31' %}{{ d }}st
								{% when '2' or '22' %}{{ d }}nd
								{% when '3' or '23' %}{{ d }}rd
								{% else %}{{ d }}th
							{% endcase %}
							{{ post.date | date: "%B %Y" }}
						</a>
					</span>
					<span class="hidden-md hidden-lg small pull-right">
						<span class="glyphicon glyphicon-calendar"></span>
						<a href="{{ post.url }}" title="{{ post.readmore }}">
							{% assign d = post.date | date: "%-d"  %}
							{% case d %}
								{% when '1' or '21' or '31' %}{{ d }}st
								{% when '2' or '22' %}{{ d }}nd
								{% when '3' or '23' %}{{ d }}rd
								{% else %}{{ d }}th
							{% endcase %}
							{{ post.date | date: "%B %Y" }}
						</a>
					</span>
				</h2>
			</div>
		</header>
		</a>
		<div class="summary">
			<p class="text-left">
				{{ post.summary }}
			</p>
		</div>
		<div class="tags">
			<span class="glyphicon glyphicon-tags clear-right-quarter"></span>
			{% for tag in post.tags %}
				{% if forloop.first != true %}, {% endif %}
				<a href="{{ site.url }}/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">
					{{ tag }}
				</a>
			{% endfor %}
			|
			<span class="glyphicon glyphicon-comment"></span>
			<a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">
			&nbsp;</a>
		</div>
	</div>
</article>