<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="My Blog">
	<meta name="author" content="Robin James Kerrison">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

	<link href="{{site.url}}/css/custom.bootstrap.css" rel="stylesheet" />
	<link href="{{site.url}}/css/text-align.css" rel="stylesheet" />
	<link href="{{site.url}}/css/storm.css" rel="stylesheet" />
	<link href="{{site.url}}/css/lightbox.css" rel="stylesheet" />
	<link href="{{site.url}}/css/ref.css" rel="stylesheet" />
</head>
