<div class="row">
	<div class="col-md-8">
		<h1>{{ page.title }}</h1>
		<h4>
		{{ page.category }} . <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
			Tags: {% for tag in page.tags %}
				{% if forloop.last == true %}
				{% if forloop.first == false %}
					and
				{% endif %}
				{% endif %}
				<a class="btn label label-info" href="{{ site.url }}/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
			{% endfor %}
		</h4>	
	</div>
	<div class="col-md-4">
	<h3>{{ page.date | date: "%B %e, %Y" }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p class="pull-right">
		{% if page.previous.url %}
		<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
		<span class="glyphicon glyphicon-chevron-left"></i></a>
		{% endif %}
		{% if page.next.url %}
		<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
		<span class="glyphicon glyphicon-chevron-right"></span></a>
		{% endif %}
		</p>
	</div>
</div>