<div class="row">
	<div class="col-md-8">
		<h1>{{ page.title }}</h1>
		<div class="btn-group">
			{% for tag in page.tags %}
				<a class="btn btn-primary" href="{{ site.url }}/tags/{{ tag }}"
					title="View posts tagged with &quot;{{ tag }}&quot;">
					{{ tag }}
				</a>
			{% endfor %}
		</div>
		<h4>
		{{ page.category }} . <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
		</h4>	
	</div>
</div>
<ul class="pager">
	<li>
	<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
	<span class="glyphicon glyphicon-chevron-left"></span>
	Something Old
	</a>
	</li>

	<li>{{ page.date | date: "%B %e, %Y" }}</li>
	<li>
	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
	<span class="glyphicon glyphicon-chevron-right"></span>
	Something New
	</a>
	</li>
</ul>