<div class="row">	
	<div class="col-md-9">
		<p><h1>{{ page.title }}</h1></p>	
	</div>
</div>		
<div class="row">
	<h5>{{ page.date | date: "%B %e, %Y" }} . {{ page.category }} . <a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
		Tags: {% for tag in page.tags %}
			<a class="btn label label-info" href="{{ site.url }}/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
			{% if forloop.last == true %}
				and
			{% endif %}
		{% endfor %}		
	<div class="col-md-6">
		<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>  
	</div>	
</div>