---
---

<div id="snake">
  <h2>Snake</h2>
  <canvas id="canvas" height="500" width="500"> </canvas>

  <div id="game-over">
    <p>Game over.</p>
    <p id="game-over-score">Your score was {{score}}.</p>
    <button id="go-again">Go again?</button>
  </div>

  <p id="score">Score: {{score}}</p>
</div>

<script>
  var canvas = document.getElementById("canvas");
  var context = canvas.getContext("2d");
  var snake;

  var grid = {
    width: 20,
    height: 20,
  };

  var resetSnake = function () {
    snake = {
      squares: [
        { x: 3, y: 4 },
        { x: 2, y: 4 },
        { x: 1, y: 4 },
      ],
      color: "#ff0000",
      direction: {
        x: 0,
        y: 1,
      },
      nextDirection: {
        x: 1,
        y: 0,
      },
    };
  };

  var food = {
    color: "#0534e9",
  };

  var drawGrid = function () {
    context.strokeStyle = "#d0d0d0";
    for (var i = 0; i < 50; i++) {
      context.beginPath();
      context.moveTo(0, i * 10);
      context.lineTo(500, i * 10);
      context.stroke();
      context.closePath();
      context.beginPath();
      context.moveTo(i * 10, 0);
      context.lineTo(i * 10, 500);
      context.stroke();
      context.closePath();
    }
  };

  const getWidth = function () {
    return canvas.width / grid.width;
  };

  const getHeight = function () {
    return canvas.height / grid.height;
  };

  const drawSnake = function () {
    context.fillStyle = snake.color;
    for (var i = 0; i < snake.squares.length; i++) {
      context.fillRect(
        snake.squares[i].x * getWidth() + 1,
        snake.squares[i].y * getHeight() + 1,
        getWidth() - 2,
        getHeight() - 2
      );
    }
  };

  const drawFood = function () {
    context.fillStyle = food.color;
    context.fillRect(
      food.x * getWidth() + 1,
      food.y * getHeight() + 1,
      getWidth() - 2,
      getHeight() - 2
    );
  };

  function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  const moveFood = function () {
    do {
      food.x = getRandomInt(0, grid.width - 1);
      food.y = getRandomInt(0, grid.height - 1);
    } while (
      snake.squares.some(function (square) {
        return food.x == square.x && food.y == square.y;
      })
    );
  };

  const isCapture = function (newHead) {
    return newHead.x == food.x && newHead.y == food.y;
  };

  const gameOver = document.getElementById("game-over");
  const gameOverScore = document.getElementById("game-over-score");
  const goAgainButton = document.getElementById("go-again");
  const scoreDisplay = document.getElementById("score");
  let score = 0;

  const updateScore = function (element) {
    if (!element.templateString) {
      element.templateString = element.innerText;
    }
    element.innerText = element.templateString.replace("{{score}}", score);
  };

  const moveSnake = function () {
    changeDirection();
    const newHead = {
      x: snake.squares[0].x + snake.direction.x,
      y: snake.squares[0].y + snake.direction.y,
    };
    if (
      snake.squares.every(function (value) {
        return value.x != newHead.x || value.y != newHead.y;
      }) &&
      newHead.x >= 0 &&
      newHead.x <= grid.width - 1 &&
      newHead.y >= 0 &&
      newHead.y <= grid.height - 1
    ) {
      snake.squares.splice(0, 0, newHead);
      if (isCapture(newHead)) {
        moveFood();
        score++;
        updateScore(scoreDisplay);
      } else {
        snake.squares.pop();
      }
      return true;
    } else {
      updateScore(gameOverScore);
      gameOver.style.display = "block";
      return false;
    }
  };

  const go = {
    left: () => (snake.nextDirection = { x: -1, y: 0 }),
    up: () => (snake.nextDirection = { x: 0, y: -1 }),
    right: () => (snake.nextDirection = { x: 1, y: 0 }),
    down: () => (snake.nextDirection = { x: 0, y: 1 }),
  };

  const keyCodeGo = {
    37: go.left,
    38: go.up,
    39: go.right,
    40: go.down,
  };

  document.onkeydown = function (event) {
    if (event.keyCode in keyCodeGo) {
      keyCodeGo[event.keyCode]();
    }
  };

  const changeDirection = function () {
    if (
      (snake.direction.x !== 0 && snake.nextDirection.x === 0) ||
      (snake.direction.y !== 0 && snake.nextDirection.y === 0)
    ) {
      snake.direction = snake.nextDirection;
    }
  };

  let interval;
  const reset = function () {
    gameOver.style.display = "None";
    resetSnake();
    moveFood();
    score = 0;
    updateScore(scoreDisplay);
    interval = setInterval(function () {
      if (!moveSnake()) {
        clearInterval(interval);
      }
      context.clearRect(0, 0, canvas.width, canvas.height);
      drawSnake();
      drawFood();
    }, 100);
  };

  ["click", "touch", "keydown"].map((eventType) =>
    goAgainButton.addEventListener(eventType, reset)
  );
  reset();

  const snakeBot = function () {
    const xDiff = food.x - snake.squares[0].x;
    const yDiff = food.y - snake.squares[0].y;
    const xGo = xDiff < 0 ? go.left : xDiff > 0 ? go.right : () => {};
    const yGo = yDiff < 0 ? go.up : yDiff > 0 ? go.down : () => {};

    if (xDiff === 0) {
      if (snake.direction.x === 0) {
        if (snake.direction.y * yDiff < 0) {
          xGo();
        }
      } else {
        yGo();
      }
    } else if (yDiff === 0) {
      if (snake.direction.y === 0) {
        if (snake.direction.x * xDiff < 0) {
          yGo();
        }
      } else {
        xGo();
      }
    } else {
      if (snake.direction.y * yDiff < 0 || snake.direction.x * xDiff < 0) {
        if (snake.direction.x === 0) {
          xGo();
        } else {
          yGo();
        }
      }
    }

    setTimeout(snakeBot, 10);
  };
  snakeBot();
</script>
