<h4>Show Article By Tag</h4>
<div class="btn-group btn-group-md">
	<button class="btn btn-success tag-control" data-tag="all">
		All
		<span class="glyphicon glyphicon-ok-circle"></span>
	</button>
	<button class="btn btn-danger tag-control" data-tag="none">
		None
		<span class="glyphicon glyphicon-remove-circle"></span>
	</button>
</div>
<div class="btn-group btn-group-xs">
{% for tag in site.tags %}
<button
	data-tag="{{tag | first}}"
	class="btn btn-info faded tag-toggle">
	{{tag | first}}
	<span class="fa-icon fa-external-link"></span>
</button>
{% endfor %}
</div>