body {
	background:	hsla(30, 70%, 86%, 1);
	color:		hsla(0, 20%, 14%, 1);
	font-family: 'Segoe UI';
	margin: 0 20%;
}
a {
	text-decoration: none;
}
h1, h2, nav {
	width: 100%;
	display: block;
	text-align: center;
}

nav > ul {
	margin: 0;
	padding: 0;
}
nav > ul > li {
	display: inline-block;
	width: 24%;
}
nav > ul > li > a {
	display: block;
	background:	hsla(30, 40%, 14%, 1);
	color:		hsla(40, 30%, 97%, 1);
}
nav > ul > li > a:hover {
	background:	hsla(10, 80%, 26%, 1);
	color:		hsla(50, 30%, 97%, 1);
}

#head {
	background: hsla(20, 80%, 96%, 1);
}

#main {
	display: flex;
	background: hsla(20, 80%, 96%, 1);
	height: 100%;
}

#main > * {
	flex: 1 1;
	vertical-align: top;
	border: 1px hsla(240, 0%, 78%, 1) solid;
	margin: 10px;
	padding: 10px;
	height: 240px;
	border-box: content-box;
}

#main > * > h3 {
	margin-top: 0;
}

#main > .large {
	flex: 2 0;
}

#main > .large > .image,
#main > .large > p {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

img {
	max-width: 100%;
}