<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header class="navbar
	navbar-inverse
	visible-sm
	visible-xs
	bs-docs-nav" role="banner">
	{% include nav.html %}
</header>
<div id="body" class="body container">
	<header class="navbar
		navbar-inverse
		visible-md
		visible-lg
		bs-docs-nav" role="banner">
		{% include nav.html %}
	</header>
	{% if page.includes != null %}
		{% for incl in page.includes %}
			{% include {{ incl | append: ".html" }} %}
		{% endfor %}
	{% endif %}
	{% if page.sidebar != false %}
		<div class="row">
		<div class="col-md-8 text-justify">
	{% endif %}
		{{content}}
	{% if page.sidebar != false %}
		</div>
		<div class="col-md-4 text-justify">
		{% include sidebar.html %}
		</div>
		</div>
	{% endif %}
	{% include footer.html %}
	{% include scripts.html %}
</div>
</body>
</html>