---
layout: layout
tag_sidebar: false
---
<div class="row">
	<div class="col-md-9 text-justify">
		<div class="content">
			{% assign post = page %}
			{% include article_card.html %}
			{{ content }}
		</div>
		<div>
			{% include disqus.html %}
		</div>
	</div>
	<div class="col-md-3 text-justify">
	{% assign isList = true %}
	{% assign isSidebar = true %}
	{% for post in site.posts limit: 10 %}
		{% if post != page %}
		{% include article_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>