---
layout: layout
tag_sidebar: false
---
<div class="row">
	<div class="col-md-9 text-justify">
		<div class="content">
			{% assign post = page %}
			{% include article_card.html %}
			{{ content }}
		</div>
		<div>
			{% include disqus.html %}
		</div>
	</div>
	<div class="col-md-3 text-justify">
	<h4>Similar Articles</h4>
	{% assign isList = true %}
	{% assign isSidebar = true %}
	{% for post in site.posts limit: 10 %}
		{% if post.url != page.url %}
			{% assign isSimilar = false %}
			{% for page_tag in page.tags %}
				{% for post_tag in post.tags %}
					{% if post_tag == page_tag %}
						{% assign isSimilar = true %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% if isSimilar %}
				{% include article_card.html %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</div>
</div>